/* style.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  min-width: 320px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  background: #12a2d9;
  color: #ffffff;
  font-size: 16px; }

.header {
  text-align: center;
  padding: 32px 16px; }
  .header h1 {
    font-size: 80px;
    margin: 16px 0 8px; }

@-webkit-keyframes showUser {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-moz-keyframes showUser {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-ms-keyframes showUser {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@keyframes showUser {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
.user {
  display: none; }
  .user img {
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 3px solid #ffffff;
    border-radius: 50%; }
  .show-user .user {
    display: block; }
    .show-user .user img {
      transform: scale(1);
      animation: showUser linear 0.45s 1;
      -moz-animation: showUser linear 0.45s 1;
      -webkit-animation: showUser linear 0.45s 1;
      animation-delay: 0;
      -moz-animation-delay: 0;
      /* Firefox */
      -webkit-animation-delay: 0;
      /* Safari and Chrome */
      -o-animation-delay: 0;
      /* Opera */
      animation-timing-function: ease-out;
      -moz-animation-timing-function: ease-out;
      /* Firefox */
      -webkit-animation-timing-function: ease-out;
      /* Safari and Chrome */
      -o-animation-timing-function: ease-out;
      /* Opera */ }

.date {
  font-size: 32px;
  font-weight: bold; }
  .date .date-curr {
    display: inline-block;
    margin: 0 8px; }
  .date .date-prev, .date .date-next {
    display: inline-block;
    vertical-align: -8px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3); }
    .date .date-prev:hover, .date .date-next:hover {
      transition: all .25s ease-out;
      background: #ffffff;
      box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.3); }
      .date .date-prev:hover .icon, .date .date-next:hover .icon {
        fill: #0c7197; }

.pie-chart {
  text-align: center;
  padding: 32px 16px; }

@-webkit-keyframes castShadow {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3); }
  100% {
    box-shadow: -24px 24px 0 rgba(0, 0, 0, 0.3); } }
@-moz-keyframes castShadow {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3); }
  100% {
    box-shadow: -24px 24px 0 rgba(0, 0, 0, 0.3); } }
@-ms-keyframes castShadow {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3); }
  100% {
    box-shadow: -24px 24px 0 rgba(0, 0, 0, 0.3); } }
@keyframes castShadow {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3); }
  100% {
    box-shadow: -24px 24px 0 rgba(0, 0, 0, 0.3); } }
.pie-wrapper {
  display: inline-block;
  height: 320px;
  width: 320px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: -24px 24px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 32px;
  animation: castShadow linear 0.65s 1;
  -moz-animation: castShadow linear 0.65s 1;
  -webkit-animation: castShadow linear 0.65s 1;
  animation-delay: 0;
  -moz-animation-delay: 0;
  /* Firefox */
  -webkit-animation-delay: 0;
  /* Safari and Chrome */
  -o-animation-delay: 0;
  /* Opera */
  animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  /* Firefox */
  -webkit-animation-timing-function: ease-out;
  /* Safari and Chrome */
  -o-animation-timing-function: ease-out;
  /* Opera */ }

.pie {
  border: 3px solid #c7c7c7;
  width: 100%;
  height: 100%;
  border-radius: 100%; }

.icon {
  width: 40px;
  height: 40px;
  fill: #ffffff;
  display: block; }

.foursquare-connect {
  margin: 16px 0 36px 0;
  text-align: center; }
  .foursquare-connect img {
    height: 100%;
    vertical-align: -16px; }
  .foursquare-connect a {
    color: #12a2d9;
    height: 44px;
    line-height: 44px;
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    background: #ffffff;
    box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.3);
    transition: scale .25s; }
    .foursquare-connect a:active {
      background: #e2e2e2;
      color: #a7a7a7;
      box-shadow: none;
      box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.3);
      transform: scale(0.9); }
      .foursquare-connect a:active img {
        opacity: .4; }
  .foursquare-connect span {
    margin: 0 20px 0 4px; }
  .show-user .foursquare-connect {
    display: none; }

.pie-svg {
  position: absolute;
  top: 0;
  left: 0; }
  .pie-svg path {
    stroke: #ffffff;
    stroke-width: 1px; }

/*# sourceMappingURL=style.css.map */
