/* style.scss */


$white: #ffffff;
$gray1: #f5f5f5;
$gray2: #e2e2e2;
$gray3: #c7c7c7;
$gray4: #a7a7a7;
$gray5: #868686;
$gray6: #666666;
$gray7: #4a4a4a;
$gray8: #323232;
$gray9: #202020;
$black: #000000;

$blue: #12a2d9;
$blue-dark: #0c7197;

$bp-mobile:680px;
$bp-narrow:768px;
$bp-regular:1024px;
$bp-wide:1280px;
$bp-xwide:1440px;

$p-teal: #1ABC9C;
$p-teal-dark: #16A085;
$p-green: #2ECC71;
$p-green-dark: #27AE60;
$p-blue: #3498DB;
$p-blue-dark: #2980B9;
$p-purple: #9B59B6;
$p-purple-dark:#8E44AD;
$p-gray: #34495E;
$p-gray-light: #64798E;
$p-gray-dark:#2C3E50;
$p-yellow: #F1C40F;
$p-yellow-dark:#F39C12;
$p-orange: #E67E22;
$p-orange-dark :#D35400;
$p-red: #E74C3C;
$p-red-dark: #C0392B;
$p-pink: #ec95d8;
$p-brown: #AC6D4A;	

.pastel1 {
    background: $p-teal !important;
    fill: $p-teal !important;}
.pastel2{
    background: $p-green !important;
    fill: $p-green !important;}
.pastel3{
    background: $p-orange !important;
    fill: $p-orange !important;}
.pastel4{
    background: $p-blue !important;
    fill: $p-blue !important;}
.pastel5{
    background: $p-purple !important;
    fill: $p-purple !important;}
.pastel6{
    background: $p-pink !important;
    fill: $p-pink !important;}
.pastel7{
    background: $p-yellow !important;
    fill: $p-yellow !important;}
.pastel8{
    background: $p-teal-dark !important;
    fill: $p-teal-dark !important;}
.pastel9{
    background: $p-red !important;
    fill: $p-red !important;}
.pastel10{
    background: $p-yellow-dark !important;
    fill: $p-yellow-dark !important;}

.pastel11{
    background: $p-brown !important;
    fill: $p-brown !important;}
.pastel12{
    background: $p-orange-dark !important;
    fill: $p-orange-dark !important;}
.pastel13{
    background: $p-teal-dark !important;
    fill: $p-teal-dark !important;}
.pastel14{
    background: $p-red-dark !important;
    fill: $p-red-dark !important;}



.text-pastel1{
    color: $p-teal;}
.text-pastel2{
    color: $p-green;}
.text-pastel3{
    color: $p-orange;}
.text-pastel4{
    color: $p-blue;}
.text-pastel5{
    color: $p-purple;}
.text-pastel6{
    color: $p-pink;}
.text-pastel7{
    color: $p-yellow;}
.text-pastel8{
    color: $p-teal-dark;}
.text-pastel9{
    color: $p-red;}
.text-pastel10{
    color: $p-yellow-dark;}


* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}


@mixin css-animate($name, $time, $iteration, $delay, $ease) {
	animation: $name linear $time $iteration;
	-moz-animation: $name linear $time  $iteration;
	-webkit-animation: $name linear $time  $iteration;
	animation-delay: $delay;
	-moz-animation-delay: $delay; /* Firefox */
	-webkit-animation-delay: $delay; /* Safari and Chrome */
	-o-animation-delay: $delay; /* Opera */
	animation-timing-function:$ease;
	-moz-animation-timing-function:$ease; /* Firefox */
	-webkit-animation-timing-function:$ease; /* Safari and Chrome */
	-o-animation-timing-function:$ease; /* Opera */
}

@mixin translate3d($x, $y, $z) {
	-webkit-transform: translate3d($x, $y, $z); 
	-moz-transform: translate3d($x, $y, $z); 
	-ms-transform: translate3d($x, $y, $z); 
	transform: translate3d($x, $y, $z); 
}


html, body {
	width:100%;
	height:100%;
	font-size:12px;
	font-family: 'Roboto', sans-serif;
	line-height:1.2;
	min-width:320px;
	-webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
    text-size-adjust: none;
	background: $blue;
	color: $white;
	font-size: 16px;
}


.header {
	text-align:center;
	padding: 32px 16px;
	
	h1 {
		font-size:48px;
		margin: 16px 0 8px;
		transition: font-size .25s;
	}

	@media all and (min-width: $bp-narrow) {
		h1 {
			font-size:64px;
		}
	}
	@media all and (min-width: $bp-regular) {
		h1 {
			font-size:80px;
		}
	}
}


@include keyframes(showUser) {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.user {
	display:none;
	
	img {
		display: inline-block;
		height: 80px;
		width: 80px;
		border: 3px solid $white;
		border-radius:50%;
		
		
	}
	
	.show-user & {
		display: block;
		
		img {
			transform: scale(1);
			@include css-animate(showUser, .45s, 1, 0, ease-out);
		}
	}
}

.date {
	font-size: 32px;
	font-weight:bold;
	.date-curr {
		display: inline-block;
		margin: 0 8px
	}
	.date-prev, .date-next {	
		display: inline-block;
		vertical-align: -8px;
		border-radius: 50%;
		cursor:pointer;
		
		box-shadow: 0 0 0 rgba($black, .3);
		
		&:hover {
			transition: all .25s ease-out;
			background: $white;
			box-shadow: -4px 4px 0 rgba($black, .3);
			.icon {
				fill: $blue-dark;
			}
		}		
	}
}

.pie-chart {
	text-align:center;
	position: relative;
	transition: width .5s;
	width: 100%;

	.show-user & {

		@media all and (min-width: $bp-narrow) {
			width: 50%;

		}

		@media all and (min-width: $bp-regular) {
			width: 100%;
		}

	}

}

@include keyframes(castShadow) {
	0% {
		box-shadow: 0 0 0 rgba($black, .3);
		
	}
	100% {
		box-shadow: -24px 24px 0 rgba($black, .3);
	}
}
.pie-wrapper {
	margin-top: 32px;
	display: inline-block;
	height: 320px;
	width: 320px;
	background: $white;
	border-radius: 50%;
	box-shadow: -24px 24px 0 rgba($black, .3);
	position:relative;
	padding: 32px;
	@include css-animate(castShadow, .65s, 1, 0, ease-out);
}

.pie {
	border: 3px solid $gray3;
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.icon {
	width: 40px;
	height: 40px;
	fill: $white;
	display: block;
}



.foursquare-connect {
	margin: 16px 0 36px 0;
	text-align:center;
	img {
		height: 100%;
		vertical-align: -16px;
	}
	
	a {
		color: $blue;
		height: 44px;
		line-height: 44px;
		border-radius: 4px;
		overflow:hidden;
		text-decoration: none;
		display: inline-block;
		background: $white;
		box-shadow: -3px 3px 0 rgba($black, .3);
		transition: scale .25s;
		cursor:pointer;
		
		&:active {
			background: $gray2;
			color: $gray4;
			box-shadow: none;
			box-shadow: -1px 1px 0 rgba($black, .3);
			transform: scale(.9);
			
			img {
				opacity: .4;
				
			}
		}	
	}
	span {
		margin: 0 20px 0 4px;
	}
	
	.show-user & {
		display: none;
	}
}

.pie-svg {
	position: absolute;
	top: 0;
	left: 0;

	path {
		stroke: $white;
		stroke-width: 2px;
		cursor: pointer;
	}

	text {
		pointer-events: none;
		font-size: 14px;
		font-weight: bold;
		fill: $white;
		pointer-events: none;
	}
}

@include keyframes(showPieList) {
	0% {
		opacity: 0;
		transform: translate3d(20%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@include keyframes(showPieStats) {
	0% {
		opacity: 0;
		transform: translate3d(-20%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.content {
	margin: 16px;
	position: relative;
}

.pie-stats {
	display:none;
	text-align: center;

	.show-user & {
		display: block;
		opacity: 1;
		@include css-animate(showPieStats, .35s, 1, 0, ease-out);
	}

	@media all and (min-width: $bp-narrow) {
		.pie-stats-inner {
			display: block;
			margin:0 16px;

		}
	
	}

	@media all and (min-width: $bp-regular) {
		position: absolute;
		left: 0;
		width: 33%;
		.pie-stats-inner {
			display: inline-block;
			margin:0;
		}

	}
}

.pie-list {
	padding-top: 64px;
	display: none;
	text-align: center;
	.show-user & {
		display: block;
		opacity: 1;
		@include css-animate(showPieList, .35s, 1, 0, ease-out);
	}

	@media all and (min-width: $bp-narrow) {


		position: absolute;
		right: -100%;
		top: 96px;
		width: 100%;

		padding-top: 0;

	}
	@media all and (min-width: $bp-regular) {
		right: 0;
		width: 33%;
		top: 0;
	}

}

.pie-list-header {
	position: relative;
	font-weight: bold;
	padding: 8px 0;
	margin-bottom: 8px;

	&:after {
		content: "";
		display: block;
		bottom: 0;
		position: absolute;
		height: 1px;
		width: 100%;
		background: $white;
		opacity: .5;
	}
}


.pie-list-inner, .pie-stats-inner {
	min-width: 320px;
	display: inline-block;
	text-align: left;
}

.pie-item {
	padding: 6px 0;
}

.pie-legend {
	display: inline-block;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	border: 2px solid $white;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
	font-size:13px;
	padding-right: 1px;
	vertical-align: -2px;
}

.pie-label {
	padding-left: 12px;
	text {
		font-size: 10px;
	}
	strong {
		margin-left: 8px;
		font-size: 16px;
		opacity: .8;
	}
}

.pie-stats-item {
	width:50%;
	padding: 4px 8px 32px 8px;
	text-align: center;
	font-weight: bold;
	float:left;
	strong {
		font-size:36px;
		opacity: .8;
	}
	.pie-stats-label {
		font-size: 16px;
	}

}

.linegraph-wrap {
	background: $white;
	fill: $gray4;
	padding: 8px;
	margin-top: 80px;
	display: none;
	position: relative;

	.show-user & {
		display: block;
	}


	@media all and (min-width: $bp-narrow) {
		padding: 16px;
	}

	@media all and (min-width: $bp-regular) {
		padding: 32px;
	}
}

.linegraph-inner {
	min-height: 320px

	svg {
		width: 100%;
	}
}

.linegraph-stats {
	position: absolute;
	top: 8%;
	left: 8%;
	opacity: 0;
	transition: opacity .25s;


	&.show {
		opacity: 1;
	}

	@media all and (min-width: $bp-narrow) {
		top: 10%;
		left: 10%;
		
	}

}

.linegraph-tally {
	float: left;
	color: $blue;
	text-align: center;
	font-weight:bold;
	span {	
		display:block;
		font-size: 48px;
	}

	@media all and (min-width: $bp-regular) {
		span {	
			font-size: 64px;
		}
		font-size: 20px;
	}
}

.axis { 
	text {
		font-size: 14px;
	}

	@media all and (min-width: $bp-regular) {
		text {
			font-size: 16px;
		}
	}

	&.x {
		text {
			font-weight: bold;
			fill: $gray5;
		}
	}
}

.bar-area {
	&:hover {
		cursor: pointer;
	}

	rect {
		stroke-width: 1px;
		stroke: $white;
		transition: fill .25s .1s;
	}

	&.gray rect{
		fill: $gray4 !important;
	}
}

.bar {
	fill: #ffff00;
}


$radius: 20px;
$pi: 3.14;
$circumference: $radius * 2 * $pi;

@include keyframes(loadingManager) {
    0%
       { stroke-dashoffset: $circumference; }
    50%
      {  stroke-dashoffset: 0 ;}
    100%
       { stroke-dashoffset: -$circumference;}

   }

.loading {

	display: none;
	img {
		width: 40px;
		height:40px;
	}
}

.loader {
	width: 44px;
	height: 44px;
	overflow: hidden;
	margin: 0 auto;
	opacity: .6;
	circle {
		stroke: $white;
		stroke-width: 4px;
		stroke-dasharray: $circumference;
		stroke-dashoffset: 24px;
		fill: none;
		stroke-miterlimit: 10px;
		transform: rotate(-90deg);
		transform-origin: 50% 50%;


		@include css-animate(loadingManager,2s, infinite, 0, ease);
	}
}

.linegraph-list {
	float:left;
	color: $gray8;
	max-width: 80%;
	font-size: 14px;
	padding-top: 8px;
	

	.lg-item {
		display:inline-block;
		whitespace: nowrap;
		padding: 8px 16px 0 8px;
	}

	.lg-legend {
		width: 12px;
		height: 12px;
		border-radius:50%;
		display: inline-block;
	}
	.lg-label {
		display: inline-block;
		margin-left: 4px;

		span {
			font-weight:bold;
			margin-left: 4px;
		}
	}
}

::-webkit-input-placeholder {
   color: $white;
}

:-moz-placeholder { /* Firefox 18- */
   color: $white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $white;  
}

:-ms-input-placeholder {  
   color: $white;  
}

.feedback {
	background: $white;
	padding: 64px 16px 0;

	.feedback-inner {
		max-width: 640px;
		
		margin: 0 auto;
		background: $gray3;
		border-radius: 16px 16px 0 0;

			overflow: hidden;


		textarea {
			display:block;
			width: 100%;
			height: 160px;
			resize: none;
			border: none;
			font-size: 20px;
			padding: 24px; 
			font-family: Helvetica;
			outline: none;
			background: none;

		}

		input[type=submit] {
			border: none;
			font-family: Helvetica;
			background: $blue;
			height: 48px;
			padding: 0 32px;
			font-size: 20px;
			line-height: 48px;
			font-weight: bold;
			color: $white;
			cursor: pointer;
			border-radius: 4px;
			margin: 0 16px 16px 16px;

		}
	}
}

@include keyframes(showLabel) {
	0%{
		@include translate3d(20%, 0, 0);
		opacity: 0;
	}
	100%{
		@include translate3d(0, 0, 0);
		opacity: 1;
	}
}

#cuisine-label, #showCat {
	display:none;

	&.show {
		display:block;
		opacity: 1;
		@include css-animate(showLabel, .35s, 1, 0, ease-out);
	}
}

#showCat {
	
	cursor: pointer;

	.back {
		display: inline-block;
		width: 16px;
		height: 16px;
		overflow:hidden;
		vertical-align: -2px;
		.icon {
			width: 100%;
			height: 100%;
		}
	}
}